{% extends 'app/base.html' %}

{% block contenido %}

<div class="nosotros-container">

    <section class="nosotros-banner">
        <h1>Sobre CineBio</h1>
        <p>Más que una película, una experiencia inolvidable.</p>
    </section>

    

    <section class="nosotros-info">
        <div class="info-card">
            <h2>Nuestra Historia</h2>
            <p>
                CineBio es una cadena de cines comprometida con ofrecer las mejores
                experiencias de entretenimiento. Desde nuestros inicios hemos buscado
                combinar tecnología, comodidad y una variada cartelera para que cada
                visita sea especial.
            </p>
        </div>

        <div class="info-card">
            <h2>Misión</h2>
            <p>
                Brindar experiencias cinematográficas de calidad mediante instalaciones
                modernas, atención excepcional y una oferta de películas para todos los públicos.
            </p>
        </div>

        <div class="info-card">
            <h2>Visión</h2>
            <p>
                Convertirnos en la cadena de cines favorita del BioBio y el pais, destacando por la
                innovación y la satisfacción de nuestros clientes.
            </p>
        </div>
    </section>

    <section class="estadisticas">
        <div class="estadistica">
            <h3>100%</h3>
            <p>Experiencia CineBio</p>
        </div>

        <div class="estadistica">
            <h3>100.000+</h3>
            <p>Clientes Felices</p>
        </div>

        <div class="estadistica">
            <h3>10+</h3>
            <p>Años de Experiencia</p>
        </div>
    </section>

</div>

{% endblock %}